<ion-content [fullscreen]="true">
  <ion-header class="cabecalho">
    <ion-img src="../../assets/logo.png" alt="Logo"></ion-img>
  </ion-header>

  <ion-list lines="none">
    <ion-item >
      <ion-input label="Email" color="dark" label-placement="floating" type="email" placeholder="Digite seu Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Senha" color="dark" label-placement="floating" type="password"  placeholder="Digite sua Senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button  size="large" color="dark">Entrar</ion-button>
    </ion-item>
  </ion-list>
  


</ion-content>