
<ion-menu  #menu contentId="main-content">
  <ion-header >
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-content class="ion-padding"> 
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card color="warning">
            <ion-header>
              <img  src="../../assets/lupa.png" />
            </ion-header>
        
          <ion-card-content> Pesquisar </ion-card-content>
        </ion-card>
      </ion-col>
        <ion-col>
          <ion-card color="warning">
            <ion-header>
              <img  src="../../assets/cadastro.png" />
            </ion-header>
          
            <ion-card-content> Cadastro de produto </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-card color="warning">
            <ion-header>
              <img src="../../assets/vendas.png" />
            </ion-header>
        
          <ion-card-content> Vendas </ion-card-content>
        </ion-card>
      </ion-col>
        <ion-col>
          <ion-card color="warning">
            <ion-header>
              <img src="../../assets/inventario.png" />
            </ion-header>

            <ion-card-content> Inventário </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-card color="warning">
            <ion-header>
              <img  src="../../assets/usuario.png" />
            </ion-header>
        
          <ion-card-content> Usuários</ion-card-content>
        </ion-card>
      </ion-col>
        <ion-col>
          <ion-card color="warning">
            <ion-header>
              <img alt="Silhouette of mountains" src="../../assets/relatorio.png" />
            </ion-header>
          
            <ion-card-content> Relatório</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    

  </ion-content>
</div>
